.light,
.rust {
}
.ayu {
  img.img-svg {
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
    filter: invert(100%);
  }
}
.coal {
  img.img-svg {
    -webkit-filter: invert(80%); /* safari 6.0 - 9.0 */
    filter: invert(80%);
  }
}
.navy {
  img.img-svg {
    -webkit-filter: invert(90%); /* safari 6.0 - 9.0 */
    filter: invert(90%);
  }
}
